---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	
	<main class="h-screen flex justify-center items-center">
		<h2 class="text-3xl text-white mx-auto">Nothing to see over here</h2>
		<div class="grid grid-cols-2 gap-4">
		  <Card
			title="Nothing here yet"
			body="Come here soon"
			href="/"
			background="../../public/star-fall-2-svgrepo-com.svg"
		  />
		  <Card
			title="Nothing here yet"
			body="Come here soon"
			href="/"
			background="../../public/star-fall-2-svgrepo-com.svg"
		  />
		  <Card
			title="Nothing here yet"
			body="Come here soon"
			href="/"
			background="../../public/star-fall-2-svgrepo-com.svg"
		  />
		</div>
	  </main>
	  
</Layout>

