---
interface Props {
    title: string;
    body: string;
    href: string;
    background: string;
}

const { href, title, body, background } = Astro.props;
---

<article class="mx-auto border text-white border-white hover:bg-gray-200 hover:text-black">
    <a href={href} class=" w-full h-full p-6 flex flex-col justify-between">
        <h2 class="text-3xl mb-2">
            {title}
            <span>&rarr;</span>
        </h2>
        <p>
            {body}
        </p>
    </a>
</article>

