---
import { footerLinks } from '../constants/constants';
interface FooterLinks {
    title: string;
    href: string;
}
const currentYear = new Date().getFullYear();
const { href, title } = Astro.props;
---

<footer class=" text-white p-4">
    <div class="flex flex-wrap mx-auto my-2 justify-center items-center">
    {footerLinks.map(link=><a href={link.link} class="align-center mx-4 capitalize">{link.title}</a>)}
      
    </div>
    <p class="capitalize text-center">&copy; {currentYear} All rights reserved</p>
</footer>
<style>
   
</style>

