---
import { navbarlinks } from '../constants/constants';
interface FooterLinks {
    title: string;
    link: string;
    icon:string; 
}
const currentYear = new Date().getFullYear();
const { href, title } = Astro.props;
---

<header class=" text-white p-4 bg-black">
    <nav class="flex-start">
        {navbarlinks.map(link=><a href={link.link} class="align-center mx-4 capitalize">{link.title}</a>)} 
    </nav>
  
  
</header>
<style>
   
</style>

